.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 5vh;
    width: 3.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.toggle-button:focus{
   outline: none; 
}

.toggle-button:hover{
    opacity: 50%;
}

.burger-line{
    width: 85%;
    height: 0.45vh;
    background-color: black;
}

.burger-line2{
    width: 50%;
    height: 0.4vh;
    background-color: black;
}

.burger-line2:hover{
    transform: skewX(10%);
}

/* Close Button */

.closeNav{
    position: relative;
    margin-top: 3%;
    margin-left: 92.5%;
    margin-right: 5%;
    height: auto;
    width: 4.5vw;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box; 
    z-index: 200;
}

.closeNav img{
    width: 3vw;
    height: auto;
}

.closeNav:hover{
    opacity: 50%;
    /* transform: rotateX(90deg);
    translate: transform 0.3s ease-in; */
}



@media only screen and (min-width: 250px) {

    /* Burger Icon */

    .toggle-button{
        margin-right: 2.5vw;
        width: 10vw;
        height: 5vh;
    }

    .burger-line{
        background-color: black;
        width: 100%;
        height: 0.4vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.4vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-top: 4.25vh;
    }

    .closeNav img{
        height: 3.5vh;
        width: auto;
    }
}





@media only screen and (min-width: 321px) {

    /* Burger Icon */

    .toggle-button{
        width: 10vw;
        height: 5vh;
    }

    .burger-line{
        background-color: black;
        width: 100%;
        height: 0.4vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.4vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-top: 3.5vh;
    }

    .closeNav img{
        height: 5vh;
        width: auto;
    }
}



@media only screen and (min-width: 376px) {

    /* Burger Icon */

    .toggle-button{
        width: 12.5vw;
        height: 5vh;
    }

    .burger-line{
        background-color: black;
        width: 100%;
        height: 0.5vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.5vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-right: 1vw;
        margin-top: 3.5vh;
    }

    .closeNav img{
        height: 5vh;
        width: auto;
    }
}



@media only screen and (min-width: 580px) {

    /* Burger Icon */

    .toggle-button{
        width: 10vw;
        height: 7.5vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.5vh;
    }

    .burger-line2{
        background-color: black;
        width: 50%;
        height: 0.5vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-top: 6.5vh;
    }

    .closeNav img{
        height: 5vh;
        width: auto;
    }
}





@media only screen and (min-width: 768px) {

    /* Burger Icon */

    .toggle-button{
        width: 10vw;
        height: 7.5vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.5vh;
    }

    .burger-line2{
        background-color: black;
        width: 50%;
        height: 0.5vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-top: 3.5vh;
    }

    .closeNav img{
        height: 5vh;
        width: auto;
    }
}



@media only screen and (min-width: 1023px) {

    /* Burger Icon */

    .toggle-button{
        width: 10vw;
        height: 7.5vh;
    }

    .burger-line{
        background-color: black;
        width: 75%;
        height: 0.5vh;
    }

    .burger-line2{
        background-color: black;
        width: 50%;
        height: 0.5vh;
    }


    /* Close Nav Button */

    .closeNav{
        height: 7.5vh;
        width: auto;
        margin-left: 80%;
        margin-top: 3.5vh;
    }

    .closeNav img{
        height: 5vh;
        width: auto;
    }
}

