.carousel-item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70vw;
    height: auto;
    margin-top: 10vh;
    overflow: hidden;
    
}

.carousel-item:hover{
    opacity: 50%;
}

.carousel-item-image{
    max-width: 100%;
    height: auto;
}