.Footer-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    background-color: #1d1d1d;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;
    height: 20vh;
}

.footer-left{
    display: flex;
    align-items: flex-end;
    height: 15vh;
    width: 40vh;

}

.logo-links{
    display: flex;
    align-items: flex-end;
    height: 20vh;
    width: 15vw;
}

.logo-links img{
    height: 17.5vh;
    width: auto;
}

.footer-social{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 17.5vh;
    width: 12.5vw;

}

.footer-mid{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 5vh;
    width: 30vw;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 5vh;
    width: 20vw;
}

.footer-right p{
    margin: 0;
    color: grey;
    font-size: 0.75em;
    letter-spacing: 0.1em;
}

.footer-links:hover{
    color: orangered;
}

.footer-links{
    letter-spacing: 0.1rem;
    color: lightgrey;
    text-decoration: none;
}

.social-footer{
    font-size: 0.75em;
    letter-spacing: 0.1rem;
    color: lightgrey;
    text-decoration: none;
}

.social-footer:hover{
    opacity: 50%;
}



@media only screen and (min-width: 250px) {

    /* Footer Bar */

    .footer-wrap{
        border-top: 0.25vh solid white;
    }

    .footer-left{
        display: none;
    }

    .footer-mid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 12.5vh;
        width: 30vw;
    }

    .footer-links{
        font-size: 0.75em;
    }

    .footer-right{
        width: 50vw;
        height: 5vh;
        font-size: 0.5em;
    }
}



@media only screen and (min-width: 319px) {

    /* Footer Bar */

    .footer-wrap{
        border-top: 0.25vh solid white;
    }

    .footer-left{
        display: none;
    }

    .footer-mid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 12.5vh;
        width: 30vw;
    }

    .footer-right{
        width: 50vw;
        height: 5vh;
        font-size: 0.75em;
    }
}




@media only screen and (min-width: 376px) {

    /* Footer Bar */
    
    .footer-wrap{
        border-top: 0.25vh solid white;
        height: 25vh;
        width: 90vw;
    }

    .Footer-box{
        align-items: center;
        height: 30vh;
        width: 100vw;
    }

    .footer-left{
        display: none;
    }

    .footer-mid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 15vh;
        width: 25vw;
    }

    .footer-links{
        font-size: 1em;
    }

    .footer-right{
        width: 50vw;
        height: 5vh;
        font-size: 0.75em;
    }
}
    





@media only screen and (min-width: 768px) {

    /* Footer Bar */
    
    .footer-wrap{
        border-top: 0.25vh solid white;
        height: 35vh;
        width: 90vw;
    }

    .Footer-box{
        align-items: center;
        height: 45vh;
        width: 100vw;
    }

    .footer-left{
        display: flex;
        height: 17.5vh;
        width: 17.5vw;
    }

    .footer-social{
        display: none;
    }

    .footer-mid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 17.5vh;
        width: 25vw;
    }

    .footer-links{
        font-size: 1.25em;
    }

    .footer-right{
        width: 50vw;
        height: 5vh;
        font-size: 1.25em;
    }
}
    