.home-start{
    display: flex;
    height: 400vh;
    width: 100vw;
    background-color: black;
  }
  
.home-projects{
    display: flex;
    height: 400vh;
    width: 100vw;
    background-color: grey;
  }

  .home-background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: grey;
  }

  .image-slide{
      width: 60vw;
      height: 60vh;
      background-color: orangered;
  }
