.navigation-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17.5vh;
    width: 100vw;
    background-color: white;

}

.nav-page{
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.nav-page.open{
   transform: translateX(0);
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 90vw;
    box-sizing: border-box; 
    background-color: white;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
    height: 15vh;
    flex-direction: row;
}

.logo img{
    height: auto;
    width: 5vw;
}

.logotype{
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-evenly;
}

.logotype h3{
    font-size: 1em;
    font-weight: 700;
    margin: 0;
}

.logotype h4{
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.menu-link img{
    height: auto;
    width: 2.5vw;
}

