.home-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 425vh;
    width: 100vw;
    background-color: black;
}

.home-background{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 175vh;
    width: 100vw;
    background-color: black;
}

.portfolio-title{
    position: absolute;
    top: 80vh;
    width: 60vw;
    height: auto;
    z-index: 90;
    left: 5vw;
}

.portfolio-title h1{
    font-size: 9em;
    letter-spacing: 0.125em;
    color: white;
    margin: 0;
}

.image-slide{
      margin-top: 10vh;
      width: 55vw;
      height: 55vh;
      z-index: 0;
      display: grid;

      scroll-snap-align: center;
      grid-gap: calc(var(--gutter) / 3);
      grid-template-rows: minmax(55vh, 1vw);
      grid-auto-flow: column;
      grid-auto-columns: calc(50% - var(--gutter) * 2);

      overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
}


.slidediv{
    display: inline-block;
    width: 50vw;
    height: 55vh;
}

.image-slide img{
  width: 50vw;
  height: auto;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  height: 75vh;
  background-color: black;
}

.about-me h1{
  margin-top: 15vh;
  color: white;
  letter-spacing: 0.125em;
  font-size: 4em;
  
}

.about-blurb2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  height: 80vh;
  background-color: black;
}

.about-blurb2 h2{
  color: white;
  letter-spacing: 0.125em;
  font-size: 3.5em;
}



.about-blurb-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 70vh;
}

.blurb-text h3{
  color: white;
  letter-spacing: 0.125em;
  font-size: 2.5em;
  margin-left: 5vw;
}

.blurb-link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 25vw;
  margin-left: 5vw;
  cursor: pointer;
}

.blurb-link img:hover{
  opacity: 50%;
}

.blurb-link h4:hover{
  letter-spacing: 0.175em;
  opacity: 50%;
}

.blurb-link img{
  width: 5vw;
  height: auto;
  margin-right: 2em;
}

.blurb-link h4{
  color: white;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.1em;
}

/* Projects Section */
  
.home-projects{
  display: flex;
  justify-content: space-around;
  height: 250vh;
  width: 100vw;
}

.project-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 250vh;
  width: 10vw;
}

.title-wrap{
  height: 220vh;
  width: 10vw;
}

.project-header h1{
  color: black;
  letter-spacing: 0.1em;
  font-size: 9em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: 0;
}

.project-div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250vh;
  width: 70vw;
  /* background-color: brown; */
}

.project-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  width: 70vw;
}

.project-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 50vh;
  width: 17.5vw;
  /* background-color: black; */
}

.project-infobox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 25vh;
  width: 15vw;
  /* background-color: white; */
}

.project-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 7.5vw;
  /* background-color: black; */
}

.project-year p{
  letter-spacing: 0.1em;
  font-weight: 700;
}

.project-month p{
  letter-spacing: 0.1em;
}

.date-hyphen{
  width: 2vw;
  height: 0.2vh;
  background-color: black;
}

.project-desc{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  width: 15vw;
}

.project-desc h3{
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: rgb(58, 58, 58);
}

.project-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 15vw;
}

.project-name h2{
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 2.5em;
}

.project-link{
  display: flex;
  height: 7.5vh;
  width: 3vw;
  cursor: pointer;
}

.project-link img{
  width: 3.5vw;
  height: auto;
}

.project-link img:hover{
  opacity: 50%;
}

.project-link-image{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 45vw;
}

.project-link-image img{
  height: 55vh;
  width: 45vw;
}

.contact-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120vh;
  background-color: #1d1d1d;
}

.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 80vh;
  width: 80vw;
}

.contact-box h1{
  font-size: 5em;
  letter-spacing: 0.1em;
  color: white;
  margin: 0;
}

.contact-box h2{
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: white;
}

.email-link h3{
  font-size: 1.25em;
  letter-spacing: 0.1em;
  color: white;
  margin: 0;
}

.email-link p{
  font-size: 1em;
  letter-spacing: 0.1em;
  color: lightgrey;
  font-weight: 300;
  margin-bottom: 1vh;
}



  
