.project-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.project-feature{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100vw;
    height: 115vh;
    background-image: url(../../assets/ring-feature.JPG);
    background-color: rgb(58, 58, 58);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw auto;
}

.project-feature h1{
    font-size: 10em;
    letter-spacing: 0.15em;
    margin-top: 0;
    margin-bottom: 7.5vh;
    margin-left: 5vw;
    color: white;
}

.project-feature p{
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-top: 0;
    margin-bottom: 2.5vh;
    margin-left: 7.5vw;
    color: white;
}

.project-blurb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120vh;
    width: 100vw;
    background-color: black;
}

.blurb-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7.5vw;
    height: 80vh;
    width: 50vw;
}

.blurb-info h2{
    letter-spacing: 0.125em;
    font-size: 3em;
    color: white;
    margin: 0;
}

.blurb-info p{
    line-height: 2em;
    font-size: 1.15em;
    color: white;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.project-image-wrap{
    display: flex;
    align-items: center;
    height: 150vh;
    width: 100vw;
    background-color: white;
}

.project-image{
    height: 90vh;
    width: 100vw;
}

.project-image img{
    max-height: 100vh;
    min-width: 100vw;;
}

.project-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150vh;
    width: 80vw;
    background-color: white;
}

.image-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 125vh;
    width: 45vw;
}

.summary-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 25vw;
}

.summary-box p{
    line-height: 1.75em;
}

.image1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 35vw;
    background-color: grey;
}

.image1 img{
    width: 35vw;
    max-height: 65vh;
}

.project-imagery{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110vh;
    width: 80vw;
    border-top: 1.5vh solid black;
    border-bottom: 1.5vh solid black;
    margin-top: 20vh;
}

.image-slideshow{
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
     grid-template-rows: minmax(80vh, 1vw);
     grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  /* padding-bottom: calc(.75 * var(--gutter)); */
  /* margin-bottom: calc(-.25 * var(--gutter)); */

}

.image-slideshow::-webkit-scrollbar{
    display: none;
  }


.slidebox {
    display: inline-block;
    width: 60vw;
    height: 90vh;
    /* background-color: black; */
}

.slidebox img{
    height: 90%;
    width: auto;
}

.project-reflection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 80vw;
    border-bottom: 1.5vh solid black;
    margin-bottom: 20vh;
}

.project-links{
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 105vh;
    width: 100vw;
    background-color:black;
}

.link-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;
    background-color: black;
}

.previous{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75vh;
    width: 17.5vw;
    cursor: pointer;
}


.next{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 65vw;
   height: 47.5vh;
}


.next-link{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 35vw;
    z-index: 1;
    cursor: pointer;
}

.next:hover{
    color: black;
}

.line1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
    height: 12.5vh;
    margin-top: 3.5vh;
}

.line1 h1{
    margin:0;
    font-size: 7.5em;
    color: white;
}

.line1 img{
    max-height: 12.5vh;
    width: auto;
    margin-left: 1vw;
}

.line2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15vw;
    height: 3.5vh;
}

.line2 h2{
    margin:0;
    font-size: 1.5em;
    color: white;
}

.line2 h3{
    margin:0;
    font-size: 1em;
    color: grey;
}

.line2 img{
    max-height: 1.5vw;
    height: auto;
    margin-right: 1vw;
}

.next-image{
    position: absolute;
    margin-left: 30vw;
    width: 35vw;
    height: 45vh;
    z-index: 0;
    cursor: pointer;
}

.next-image img{
    max-width: 35vw;
    height: 45vh;
}